<section class="error-page-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="error-content text-center wow slideInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <h4>Başvurunuz Alınmıştır</h4>
                    <p>En Kısa Zamanda Sizinle İletişime Geçilicek.</p>
                    <div class="button">
                        <a class="btn-one" href="/TR/AnaSayfa">
                            <span class="txt">AnaSayfaya Dön</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
